dstrf/__pycache__/managers.cpython-36.pyc
dstrf.egg-info/top_level.txt
dstrf.egg-info/SOURCES.txt
dstrf.egg-info/PKG-INFO
__pycache__/__init__.cpython-36.pyc
dstrf/*.log
dstrf.egg-info/dependency_links.txt
*.out
dstrf/*.pickled
*egg-info
.idea/
build/
dstrf/__pycache__/
dstrf/dsyevh3C/__pycache__/
dstrf/dsyevh3C/dsyevh3py.cpython-36m-x86_64-linux-gnu.so
dstrf/opt.c
dstrf/opt.cpython-36m-x86_64-linux-gnu.so
dstrf/dsyevh3C/cdsyevh3.pxd
dstrf/dsyevh3C/dsyevh3py.c
*.html
